<h1>Editing Score Control Center</h1>

<%= render 'form', score_control_center: @score_control_center %>

<%= link_to 'Show', @score_control_center %> |
<%= link_to 'Back', score_control_centers_path %>
