<%= link_to(two_index_path,target: "_blank", rel: "nofollow") do %>
    <div class=" col-md-2 col-md-offset-1 btn btn-warning">决赛快问快答</div>

<% end %>
   <%= link_to(answer_commands_path,target: "_blank", rel: "nofollow") do %>
    <div class=" col-md-2 col-md-offset-1 btn btn-warning">决赛共答题</div>

<% end %>
   <%= link_to(user_table_path,target: "_blank", rel: "nofollow") do %>
    <div class=" col-md-2 col-md-offset-1 btn btn-warning">查看座位</div>

<% end %>
   <%= link_to(feedback_crawling_path,target: "_blank", rel: "nofollow") do %>
    <div class=" col-md-2 col-md-offset-1 btn btn-warning">抓取指定名次</div>

<% end %>